.sticky-footer {
  bottom: 0;
  position: sticky;
}

.white-space {
  &-pre {
    white-space: pre;
  }

  &-pre-wrap {
    white-space: pre-wrap;
  }
}

.cursor--pointer { cursor: pointer !important; }

.user-select {
  // user-select--none
  &--none { user-select: none; }
}

.width {
  // width--100
  &--100 { width: 100%; }
}

.v-application .font-family {
  // font-family--body
  &--body { font-family: $body-font-family !important; }
  // font-family--heading
  &--heading { font-family: $heading-font-family !important; }
}

$degrees: (
  '90': 90deg,
);

@each $key, $value in $degrees {
  .rotate-#{$key} {
    transform: rotate($value);
  }
}

@each $size, $value in $font-sizes {
  .v-application .font-size--#{$size} {
    font-size: $value !important;
  }
}

@each $size, $value in $line-heights {
  .line-height--#{$size} {
    line-height: $value !important;
  }
}

@each $key, $value in $grey {
  // border-color-grey--lighten1
  body .v-application .border-color-grey--#{$key} {
    border-color: $value !important;
  }
}

@each $key, $value in $grey2 {
  // border-color-grey2--lighten1
  body .v-application .v-application--wrap .border-color-grey2--#{$key} {
    border-color: $value !important;
  }
}

@each $key, $value in $teal2 {
  // border-color-teal2--lighten1
  body .v-application .v-application--wrap .border-color-teal2--#{$key} {
    border-color: $value !important;
  }
}

@each $key, $value in $yellow {
  // border-color-yellow--lighten1
  body .v-application .border-color-yellow--#{$key},
  body .v-application .v-alert.warning.border-color-yellow--#{$key} {
    border-color: $value !important;
  }
}

.border {
  &- {
    &color {
      &-- {
        // border-color--transparent
        &transparent { border-color: transparent !important; }
      }
    }

    &style {
      &-- {
        // border-style--solid
        &solid { border-style: solid !important; }
        // border-style--dashed
        &dashed { border-style: dashed !important; }
      }
    }

    &width {
      &-- {
        // border-width--sm
        &sm { border-width: 1px !important; }
        // border-width--med
        &med { border-width: 2px !important; }
      }
    }

    &top {
      &-- {
        // border-top--none
        &none { border-top: 0 !important; }
      }
    }

    &bottom {
      &-- {
        // border-bottom--none
        &none { border-bottom: 0 !important; }
      }
    }

    &left {
      &-- {
        // border-left--none
        &none { border-left: 0 !important; }
      }
    }

    &right {
      &-- {
        // border-right--none
        &none { border-right: 0 !important; }
      }
    }
  }
}

@each $key, $value in $grey {
  // background-color-grey--lighten1
  body .v-application .background-color-grey--#{$key} {
    background-color: $value !important;
  }
}

@each $key, $value in $yellow {
  // background-color-yellow--lighten1
  body .v-application .background-color-yellow--#{$key},
  body .v-application .v-alert.warning.background-color-yellow--#{$key} {
    background-color: $value !important;
  }
}

@each $key, $value in $teal {
  // background-hover-color-teal--lighten1
  .background-hover-color-teal--#{$key}:hover {
    background-color: $value !important;
  }
}

@each $key, $value in $teal {
  // text-hover-color-teal--lighten1
  .v-application .text-hover-color-teal--#{$key}:hover {
    color: $value !important;
  }
}
