.sticky-footer {
  bottom: 0;
  position: sticky;
}

.white-space {
  &-pre {
    white-space: pre;
  }

  &-pre-wrap {
    white-space: pre-wrap;
  }
}

.cursor--pointer { cursor: pointer !important; }

.user-select {
  // user-select--none
  &--none { user-select: none; }
}

$degrees: (
  '90': 90deg,
);

@each $key, $value in $degrees {
  .rotate-#{$key} {
    transform: rotate($value);
  }
}

@each $size, $value in $line-heights {
  .line-height--#{$size} {
    line-height: $value !important;
  }
}

@each $key, $value in $grey {
  // border-color-grey--lighten1
  body .v-application .border-color-grey--#{$key} {
    border-color: $value !important;
  }
}

@each $key, $value in $yellow {
  // border-color-yellow--lighten1
  body .v-application .border-color-yellow--#{$key},
  body .v-application .v-alert.warning.border-color-yellow--#{$key} {
    border-color: $value !important;
  }
}

.border {
  &- {
    &style {
      &-- {
        // border-style--solid
        &solid { border-style: solid !important; }
        // border-style--dashed
        &dashed { border-style: dashed !important; }
      }
    }

    &width {
      &-- {
        // border-width--sm
        &sm { border-width: 1px !important; }
        // border-width--med
        &med { border-width: 2px !important; }
      }
    }
  }
}

@each $key, $value in $grey {
  // background-color-grey--lighten1
  body .v-application .background-color-grey--#{$key} {
    background-color: $value !important;
  }
}

@each $key, $value in $yellow {
  // background-color-yellow--lighten1
  body .v-application .background-color-yellow--#{$key},
  body .v-application .v-alert.warning.background-color-yellow--#{$key} {
    background-color: $value !important;
  }
}
