.sticky-footer {
  bottom: 0;
  position: sticky;
}

.white-space {
  &-pre {
    white-space: pre;
  }

  &-pre-wrap {
    white-space: pre-wrap;
  }
}

$degrees: (
  '90': 90deg,
);

@each $key, $value in $degrees {
  .rotate-#{$key} {
    transform: rotate($value);
  }
}

@each $size, $value in $line-heights {
  .line-height--#{$size} {
    line-height: $value !important;
  }
}
