.v-application {
  .v-autocomplete {
    &.sp-dropdown {
      .v-select__selections .v-chip {
        background: map-get($teal2, 'lighten4') !important;
        color: map-get($teal2, 'darken1') !important;
      }
      .v-select__selections .v-chip__close::before {
        content: "\00D7";
        height: 20px;
        padding: 0 5px;
        width: 20px;
      }
      .v-select__selections .v-chip__close:hover {
        border-radius: 100%;
        background: map-get($teal2, 'lighten1')!important;
        color: map-get($teal2, 'lighten4')!important;
      }
    }
    .select-label { white-space: 'break-spaces'; }
    .error--text {
      caret-color: map-get($red2, 'darken1') !important;
      color: map-get($red2, 'darken1') !important;
    }
  }
  .sp-dropdown--menu {
    .v-list-item {
      min-height: 48px;
      &--active {
        background-color: map-get($teal2, 'lighten4') !important;
        color: map-get($teal2, 'darken1') !important;

        &::before { opacity: 0 !important; }
      }
      &--highlighted {
        background-color: map-get($grey2, 'lighten4') !important;
        color: map-get($grey2, 'darken2') !important;

        &::before { opacity: 0 !important; }
      }
      &--link:hover {
        background-color: map-get($grey2, 'lighten4') !important;
        color: map-get($grey2, 'darken2') !important;

        &::before { opacity: 0 !important; }
      }
      &--compact {
        line-height: 0;
      }
    }
    .v-list-item--active.v-list-item--highlighted {
      background-color: map-get($teal2, 'lighten4') !important;
      color: map-get($teal2, 'darken1') !important;

      &::before { opacity: 0 !important; }
    }

    .bottom-border {
      &:after {
        background-color: map-get($grey2, 'base');
        bottom: -8px;
        content: '';
        height: 1px;
        min-height: unset;
        position: absolute;
        width: 92%;
      }
    }
  }
}
