.auto-width-select {
  input {
    // The vuetify v-select seems to max its width because of a hidden input.
    // See here: https://github.com/vuetifyjs/vuetify/issues/6275
    display: none;
  }
  .v-select__slot {
    width: auto;
  }
  .v-select__selection {
    max-width: none;
  }
}

.small-caret {
  .fa-caret-down {
    font-size: 16px !important;
  }
}
